/* line 17, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/vagmi/.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.beta.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3 */
body {
  background-color: #e8e8e2;
}
/* line 5 */
body .wrapper {
  width: 100%;
  float: left;
  clear: both;
  color: #555555;
}
/* line 10 */
body #hwrapper {
  background-color: #333333;
  border-bottom: 2px solid #888888;
  float: left;
  clear: both;
  width: 100%;
}
/* line 16 */
body #hwrapper #header {
  width: 960px;
  margin: 0 auto;
}
/* line 19 */
body #hwrapper #header #social_buttons {
  float: right;
  height: 32px;
}
/* line 22 */
body #hwrapper #header #social_buttons li {
  display: inline;
}
/* line 24 */
body #hwrapper #header #social_buttons a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  color: #aaaaaa;
  text-indent: -9999px;
}
/* line 31 */
body #hwrapper #header #social_buttons a.facebook {
  background-image: url("/images/facebook_32.png");
}
/* line 33 */
body #hwrapper #header #social_buttons a.twitter {
  background-image: url("/images/twitter_32.png");
}
/* line 35 */
body #hwrapper #header #social_buttons a.linkedin {
  background-image: url("/images/linkedin_32.png");
}
/* line 37 */
body #hwrapper #header #social_buttons a.github {
  background-image: url("/images/github_32.png");
}
/* line 39 */
body #hwrapper #header #social_buttons a.skype {
  background-image: url("/images/skype_32.png");
}
/* line 41 */
body #content {
  width: 800px;
  margin: 0px auto;
  text-align: center;
}
/* line 45 */
body #content .small_text {
  font-family: "Raleway", sans;
  font-size: 30px;
  margin: 0.5em;
  color: #999999;
}
/* line 51 */
body #content .section {
  margin: 50px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #aaaaaa;
}
/* line 55 */
body #content #hello {
  font-size: 50px;
}
/* line 57 */
body #content #first_name {
  font-family: "Bevan", serif;
  font-size: 120px;
}
/* line 60 */
body #content #last_name {
  font-family: "Bevan", serif;
  font-size: 70px;
}
/* line 63 */
body #content #technologies {
  font-family: "Bevan", serif;
  font-size: 30px;
}
/* line 66 */
body #content #technologies .technology {
  font-family: "Bevan", serif;
  font-size: 50px;
}
/* line 69 */
body #content .highlight {
  font-family: "Bevan", serif;
  color: #555555;
}
/* line 72 */
body #content a.highlight {
  text-decoration: none;
}
/* line 74 */
body #content #dharana {
  width: 100%;
  text-align: center;
}
/* line 77 */
body #content #dharana a {
  display: block;
  margin-left: 196px;
  width: 410px;
  height: 100px;
  font-family: "Amaranth", serif;
  font-weight: bold;
  color: #981a21;
  text-decoration: none;
  text-indent: -9999px;
  background-image: url(/images/dharanasoft_logo_100px.png);
  background-repeat: no-repeat;
}
/* line 89 */
body #content #railspundit {
  width: 100%;
  text-align: center;
}
/* line 92 */
body #content #railspundit a {
  display: block;
  font-family: "Slackey", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #981a21;
  text-decoration: none;
}
/* line 99 */
body #content #reach_me {
  margin-left: 80px;
  height: 150px;
}
/* line 102 */
body #content #reach_me li {
  display: inline;
}
/* line 104 */
body #content #reach_me li a {
  display: block;
  float: left;
  width: 128px;
  height: 128px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  font-family: "Raleway", serif;
  font-size: 18px;
  text-decoration: none;
  color: #555555;
}
/* line 115 */
body #content #reach_me li a:hover {
  text-indent: 0px;
  padding-top: 128px;
}
/* line 118 */
body #content #reach_me li a.twitter {
  background-image: url("/images/twitter_128.png");
}
/* line 120 */
body #content #reach_me li a.facebook {
  background-image: url("/images/facebook_128.png");
}
/* line 122 */
body #content #reach_me li a.linkedin {
  background-image: url("/images/linkedin_128.png");
}
/* line 124 */
body #content #reach_me li a.github {
  background-image: url("/images/github_128.png");
}
/* line 126 */
body #content #reach_me li a.skype {
  background-image: url("/images/skype_128.png");
}
/* line 128 */
body #fwrapper {
  background-color: #333333;
  padding: 5px 0;
}
/* line 131 */
body #fwrapper #footer {
  width: 960px;
  margin: 0px auto;
  text-align: center;
  color: #888888;
  font-family: "Raleway", sans-serif;
}
