%h3#bajaj.span6.org
  %a(href="http://www.bajajallianz.com" target="_blank") Bajaj Allianz General Insurance Co Ltd 
%h3.span6.time
  IT Coordinator
  %br
  Mar 2002 to Jun 2003
.span12.details
  %p
    %li Developed new modules in VB, ASP and MS Access to support in-house IT needs
    %li Developed a module to automate the process of Endorsements using VB and ASP
    %li Created CSV file parsers to read and populate the various "Registers" tables into the database using Java, JSP, JAXP, Struts 
    %li Created an Intranet Module to generate and maintain quotations for Householders Policy (An Insurance Product) using JSP/Struts

