%h2#education Education
%table.table.table-bordered.table-striped
  %tbody
    %tr
      %td 2002 - 2004
      %td M.Sc. Information Technology
      %td University of Madras
    %tr
      %td 1998-2001
      %td GNIIT
      %td NIIT
    %tr
      %td 1998 - 2001
      %td B.Sc. Physics
      %td D.G. Vaishnav College
