%h2#opensource 
  Open Source
  %br
  %small
    %a(href="http://github.com/vagmi") Github Profile
%p I have always been very passionate about open source software. My first PC was a 486 DX2 with 3.5" floppy drives. I ran Slackware on it which came with PC Quest magazine on 6 floppies. It was fun installing and nuking my hard disk in that process. Since then, I've been participating in the community and contributing what I can in terms of code, documentation, discussions, etc. Here are some of the projects that I am proud of.

%h3 
  %a(href="https://github.com/dharanasoft/quartz-jruby") quartz-jruby
%p Quartz is an open source Java based scheduling framework. This project provides a JRuby wrapper over the cron API. The API is meant to be readable and really simple to create cron jobs in the java process space.

%h3
  %a(href="https://github.com/dharanasoft/haml-sprockets") haml-sprockets
%p
  Rails 3.1 uses sprockets for its asset pipeline. Rails 3.1 has shown considerable love for SCSS and SASS but has left HAML out. We at Dharana Software Innovations are die hard HAML fans. We beleive that it is the best templating language around. So we would like to have it as a part of our client side toolkit as well. The haml-js project does exactly that. It was written for Node.js but works well with the browser too. This project helps us build JST templates with hamljs.

%h3
  %a(href="https://github.com/dharanasoft/rtf-highlight") RTFHighlight.vim
%p
  This plugin is used to syntax highlight pieces of code to RTF and it automatically copies it to the OSX clipboard. This will be very useful in putting code into keynote presentations.
