%h3.span6.org
  %a(href="http://www.slashsupport.com" target="_blank") SlashSupport India Pvt Ltd
  %br
  A CSS Group Company
%h3.span6.time
  Team Lead
  %br
  Jun 2003 to Oct 2004
.span12.details
  %p
    I largely worked on InstallShield's setup packaging system. I gained significant insight into how Windows and MSI work. I contributed a lot to the WiX toolset community.
  %ul
    %li Attained authoritative knowledge on Windows Installer and Windows Installer API
    %li Developed several Windows Installer extensions using C++, InstallScript, VBScript, and JScript
    %li Attained a good knowledge of InstallShield Setup Project's architecture
    %li Mentored new engineers on Windows Installer based products and the support process
    %li Handled technical escalations from the India team
    %li Pioneered Voice Support for InstallShield's EMEA Support 
    %li Performed Quality Reviews for measuring the Technical and Communication Skills of our peers
