%h2#testimonials Testimonials
%h3 Ryan Schilling (A DharanaSoft Client) - CEO, GoNeighborly
%p
  This is my second startup and I've worked with no less than a half dozen development firms and probably two dozen engineers/designers.  You are by far the most well informed and talented hacker I've worked with.  I would say that it is not only your ability to code or speed or any of the normal measurements most developers get graded on that sets you apart.  Having lived in San Francisco and known startup founders and engineers, I see clearly that your talent is both being able to clearly understand the vision and build innovative solutions.  Most importantly you have a tremendous feel for product function/features.  I have not seen this in any of the people I've worked with.

%h3 Anand M S (While I was working at SAP Labs) - Senior Software Engineer
%p
  The first thing that amazed me about Vagmi was his ability to talk at length on any topic, especially technical, on the fly. The friendly, approachable nature makes it a pleasure interacting with this knowledge bank. I've seen him as a very diligent worker, keen on learning new things and more importantly sharing and applying them at work whenever possible. I'm sure he will be an invaluable resource in any organization or team.

%h3 Prabhu Subbaih (When I was working with SlashSupport) - Team Lead
%p
  Vagmi is a hard core technical person who knows in &amp; out of all the open source technologies. He has a passion to explore in depth in all the technology aspects, showed faster growth from an engineer to become a team lead in shorter period of time when I worked with him in Slashsupport.

%h3 Muraly Krish (When I was working with Bajaj Allianz) - Manager Operations
%p
  Vagmi - A gem who had too much knowledge and capability whom I could see growing in to more than where was then. 
%p
  Ideally should move on to create / build his own creations with the kind of creative brain, energy and enterprenuership skills.
