.section
  #hello.small_text Hello, My name is
  #first_name Vagmi
  #last_name Mudumbai
.section
  .small_text I enjoy creating web applications using
  #technologies
    %span.technology Ruby
    , 
    %span.technology Rails
    , 
    %span.technology JQuery
    , 
    %span.technology Cucumber
    , 
    %span.technology Git
    &amp; 
    %span.technology MongoDB
.section
  .small_text
    I love using 
    %span.highlight Open Source 
    software and contribute to the extent I can. See more on my
    %span.github 
      %a.github.highlight(href="http://github.com/vagmi") Github profile
.section
  .small_text
    I am the Co-Founder and the Director of 
  #dharana 
    %a(href="http://www.dharanasoft.com" target="_blank") Dharana Soft
  .small_text
    I also enjoy teaching rails to others
  #railspundit 
    %a(href="http://www.railspundit.com" target="_blank") RailsPundit
.section
  .small_text 
    I also write on 
  #blog_links.small_text
    the
    %a.highlight(href="http://artha42.com/blog") Artha42 Blog
    &amp; the
    %a.highlight(href="http://blog.railspundit.com") RailsPundit Blog
.section
  .small_text
    I would like to hear from you.
  %ul#reach_me
    %li
      %a.facebook(href="http://www.facebook.com/vagmi" title="Facebook") facebook.com/vagmi
    %li
      %a.twitter(href="http://twitter.com/vagmi" title="Twitter") twitter.com/vagmi
    %li
      %a.linkedin(href="http://linkedin.com/in/vagmi" title="LinkedIn") linkedin.com/in/vagmi
    %li
      %a.github(href="http://github.com/vagmi" title="Github") github.com/vagmi
    %li
      %a.skype(href="skype:vagmi.mudumbai") Skype me on vagmi.mudumbai


