!!! 5
%html
  %head
    %title Vagmi Mudumbai - Architect, Tech Blogger, Entrepreneur
    %link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    %link(href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400|Corben:400,700|Josefin+Sans:100,300,400,700' rel='stylesheet' type='text/css')
    %link(href="/stylesheets/resume.css" rel='stylesheet')
    
  %body
    = yield
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
    %script(src="/javascript/bootstrap.min.js" type="text/javascript")
    %script(src="/javascript/raphael-min.js" type="text/javascript")
    %script(src="/javascript/g.raphael-min.js" type="text/javascript")
    %script(src="/javascript/date.js" type="text/javascript")
    %script(src="/javascript/resume_timeline.js" type="text/javascript")
